@charset "UTF-8";

/* 
    전체 선택자를 이용. 모든 선택자의 margin과 padding을 0으로 지정
    : 요소가 갖는 기본 여백을 제거
 */
* { margin: 0; padding: 0; }

/* TODO: 여기에 작성해보세요 */
body {
    background-color: cornflowerblue;
}

header {
    height: 85px;
    background-color: whitesmoke;
    padding: 10px;
}

header h1 {
    float: left;            /* fl */
    font-size: 1.8rem;      /* fz1.8rem */
}

header ul {
    float: right;           /* flr */
    list-style-type: none;  /* lstn */
}

header ul li {
    display: inline-block;      /* dib */
}

article {
    min-height: 500px;          /* mh500 */
}

article aside {
    float: left;        /* fl */
    width: 300px;       /* w300 */
    height: 500px;      /* h500 */
    background-color: orange; /* backco */
    text-align: center;     /* tac */
}

article section {
    float: right;       /* flr */
    width: calc(100% - 300px);  /* w */
    height: 500px;          /* h500 */
    background-color: beige;    /* backco */
}

footer {
    height: 10px;       /* h10 */
    line-height: 10px;  /* lh10px */
    background-color: lightblue;    /* backco */
    text-align: center; /* tac */
    padding: 20px;  /* p20 */
}

li { list-style-type: none; /* lstn */}

/* 클래스 선택자 */
/* TODO: 여기에 작성해보세요 */
.container {
    width: 900px;
    margin: 0 auto;
    border: 5px solid black;
}

/* 종속선택자 */
/* TODO: 여기에 작성해보세요 */
h1.logo {
    background: url(../img/logo.png) no-repeat center left;
    background-size: cover;
    width: 260px;
    height: 80px;
    margin-left: 10px;
    text-indent: -9999px;
}